{# Version: 20130508 #}

{% extends "mozorg/home.html" %}

{% l10n home %}
<section id="home-news">
    <h3>{{ _('In the news') }}</h3>
    <ul>
      <li>
        <h4><a href="https://blog.mozilla.org/privacy/2013/02/14/cyber-security-heating-up-on-both-sides-of-the-atlantic/">{{ _('Cyber-security heating up on both sides of the Atlantic') }}</a></h4>
      </li>
      <li>
        <h4><a href="https://blog.mozilla.org/blog/2013/02/25/mobilizing-mozilla-blaze-your-own-path/">{{ _('Mobilizing Mozilla: Blaze Your Own Path') }}</a></h4>
      </li>
      <li>
        <h4><a href="https://blog.mozilla.org/blog/2013/02/24/mozilla-unlocks-the-power-of-the-web-on-mobile-with-firefox-os/">{{ _('Mozilla Unlocks the Power of the Web on Mobile with Firefox OS') }}</a></h4>
      </li>
    </ul>
    <a href="https://blog.mozilla.org/" id="all-news">{{ _('See all news »') }}</a>
  </section>
{% endl10n %}

